


/** page structure **/
.wrap {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

#intro {
  display: block;
  margin-bottom: 25px;
  text-align: center;
}
#intro p {
  font-size: 1.8em;
  line-height: 1.35em;
  color: #616161;
  font-style: italic;
  margin-bottom: 25px;
}

#stats {
  display: block;
  width: 100%;
  padding: 15px 0;
  background: #f8f8f8;
  border-top: 4px solid #c3c3c3;
  border-bottom: 4px solid #c3c3c3;
}

#stats .row {
  display: block;
}

.circle-container {
  display: block;
  float: left;
  margin-right: 55px;
  margin-bottom: 45px;
}

.circle-container h3 {
  display: block;
  text-align: center;
  font-size: 2.25em;
  line-height: 1.4em;
  color: #363636;
  text-shadow: 1px 1px 0 #fff;
}


/** clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

  
